h1 {
    color: red;
}
.black {
    background-color: black;
    color: white;
    display: block;
    width: fit-content;
}
.red {
    background-color: darkred;
    color: green;
    display: block;
    width: fit-content;
}
.myclass {
    color: green;
}